<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css" rel="stylesheet">
    <style>
        
    </style>
    {% endblock %}
</head>

<body>
    <section class="hero is-info">
        <div class="hero-body">
            <div class="columns">
                <p>Страница администратора</p>
            </div>
        </div>
    </section> 
    <nav class="navbar is-black">
        <div class="navbar-brand">
            <a class="navbar-item is-hidden-touch" href="#">ДИЗЕЛЬ СКЛАД:</a>
            <div class="navbar-burger burger" data-target="navMenuColorblack-example">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="navMenuColorblack-example" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{{ url_for('admin.files') }}">
                    Файлы
                </a>
                <a class="navbar-item" href="{{ url_for('admin.products') }}">
                    Продукты
                </a>
                <a class="navbar-item" href="{{ url_for('admin.tasks') }}">
                    Обработка данных
                </a>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <section class="hero is-dark">
        <div class="hero-body">
                <p>
                    <strong>АСЦТА</strong> Ассоциация сервисных центров топливной аппаратуры.
                </p>
        </div>
    </section>

    {% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/buefy/dist/components/field"></script>
    <script src="https://unpkg.com/buefy/dist/components/icon"></script>
    <script src="https://unpkg.com/axios@0.15.3/dist/axios.min.js"></script>
    <script src="{{ url_for('static', filename='js/bus.js') }}"></script>
    {% endblock %}
</body>
</html>