{% extends "admin/layout.html" %}

{% block head %}
    {{ super() }}
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
{% endblock %}

{% block content %}
    <section class="hero">
        <div class="hero-body">
            <div class="container is-widescreen">
                <div id="app">
                    <v-app>
                        <v-content>
                            <v-container fluid>
                                <v-data-table v-bind:headers="headers" :items="items" v-bind:pagination.sync="pagination" :loading="loading" class="elevation-1">
                                    <template slot="items" slot-scope="props">
                                        <td v-for="(col, key, index) in headers" :key="col.value" class="text-xs-right" v-html="status_format(props.item[col.value])"></td>
                                    </template>
                                </v-data-table>
                            </v-container>
                        </v-content>
                    </v-app>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript %}
    {{ super() }}
    <script src="https://unpkg.com/buefy/dist/components/icon"></script>
    <script src="{{ url_for('static', filename='js/jobs.js') }}" run_status="{{ run_status }}"></script>


    <script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <!-- <script src="https://unpkg.com/vuetify/dist/vuetify.min.js"></script> -->
    <script src="https://cdn.bootcss.com/axios/0.17.1/axios.min.js"></script>
    <script>
    var vm = new Vue({
        el: '#app',
        data: () => ({
            msg: 'hello',
            tasks: ['Short task', 'Long task', 'Task with error'],
            pagination: {
                sortBy: 'start_time',
                descending: true,
            },
            loading: false,
            headers: [{
                    text: 'Task name',
                    align: 'left',
                    value: 'name'
                },
                { text: 'Job Id', value: 'job_id' },
                { text: 'Status', value: 'status' },
                { text: 'Result', value: 'result' },
                { text: 'Start time', value: 'start_time' },
                { text: 'Finish time', value: 'finish_time' },
            ],
            items: [],
        }),
        mounted() {
            let query = setInterval(this.refresh_jobs, 1000);
        },
        methods: {
            status_format(para) {
                let status_html = ''
                switch (para) {
                    case 'failed':
                        status_html = '<i title="failed" class="material-icons icon red--text">error</i>'
                        break;
                    case 'finished':
                        status_html = '<i title="finished" class="material-icons icon green--text">check_circle</i>'
                        break;
                    default:
                        return para;
                }
                return status_html;
            },
            run_task(task) {
                console.log(task);
                axios.post('/_run_task', {
                        task: task,
                    })
                    .then((response) => {
                        console.log('job added success')
                        this.items.push(response.data.job)
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
            },
            refresh_jobs() {
                let jobs = this.items
                if (jobs.length > 0) {
                    jobs.forEach((item, index, array) => {
                        if (item.status != 'finished' && item.status != 'failed') {
                            console.log(item.job_id)
                            this.get_job_from_api(item.job_id, index)
                        }
                    })
                }
            },
            get_job_from_api(job_id, index) {
                this.loading = true
                axios.get('/status/' + job_id)
                    .then((response) => {
                        this.items.splice(index, 1, response.data.job) // splice will trigger vue refresh
                        this.loading = false
                    })
                    .catch(function(error) {
                        console.log(error);
                        this.loading = false
                    });
            },
            reset_table() {
                this.items.splice(0) // splice will trigger vue refresh
                return axios.get('/reset')
                    .then((response) => {
                        console.log('reset success')
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
            },
        },
    })
    </script>
{% endblock %}