{% extends "layout.html" %}
{% from "macros.html" import render_pagination %}
{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/catalogue.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
    <section class="hero">
        <div class="hero-body">
            <div id="catalog" class="container is-widescreen">
                {% if filter|length() > 0 %}
                    <div class="content">
                        <blockquote>
                            <div class="columns is-mobile">
                                <div class="column  is-narrow">
                                    <span class="icon">
                                        <i class="mdi mdi-magnify mdi-48px" style="color: lightgrey; margin-top:10px;"></i>
                                    </span>
                                </div>
                                <div class="column">
                                    <p>Результаты поиска по строке: <strong>{{ filter }}</strong>                                            </p>
                                    <div id="reset_search" class="container">
                                        <section>
                                            <b-field>
                                                <b-checkbox-button v-model="checkboxGroup"
                                                        native-value="Nop"
                                                        type="is-danger">
                                                    <b-icon icon="close"></b-icon>
                                                    <span>Сбросить фильтрацию</span>
                                                </b-checkbox-button>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                {% endif %}

                <div id="product_list">
                    {% for product in products %}
                        <!-- Main container -->
                        <nav class="level">
                            <!-- Left side -->
                        <div class="level-left">
                                <div class="level-item">
                                        <figure class="media-left">
                                            <p class="image is-96x96" style="height: 74px;">
                                                <a href="{{ url_for('main.product', id=product['id']) }}">
                                                    <img src="{{ url_for('static', filename='img/products/1.jpg') }}">
                                                </a>
                                            </p>
                                        </figure>
                                </div>
                                <div class="level-item">
                                    <div class="subtitle is-5">
                                        <p><strong><a href="{{ url_for('main.product', id=product['id']) }}">{% if valid_code %}{{ splitted_title[1] }} {{ splitted_title[0] }}{% else %}{{ product.name }}{% endif%}</a></strong></p>
                                        <p class="subtitle is-6">
                                            {% if product.code %}
                                                Код запчасти: {{ product.code }} 
                                            {% endif %}
                                            Производитель: Bosch
                                        </p>
                                    </div>
                                </div>
                            </div>
                        
                            <!-- Right side -->
                            <add-order-button :id="{{ product.id }}" inline-template>
                                <div>
                                    <div class="level-right">
                                        <div class="level-item">
                                            <div class="title is-5">{{ '{:,.0f}'.format(product['price']|int()).replace(","," ") }} руб.
                                                <p class="subtitle is-7 show_price" v-bind:class="{'yes': checked }">Цена на {{ price_date }}</p>
                                            </div>
                                        </div>
                                        <a v-cloak class="button is-rounded" @click.prevent="toggleActivity({{ product.id }})" v-bind:class="{ 'is-success': checked }">
                                            <span>[[ activity ]]</span>
                                            <span class="icon is-small">
                                                <i class="mdi mdi-check mdi-18px" v-bind:class="{ 'mdi-24px': checked }"></i>
                                            </span>
                                        </a><br />
                                        <a href="#" class="content is-small goto_order" v-bind:class="{'yes': checked }">Оформить заявку</a>
                                    </div>
                                </div>
                            </add-order-button>
                        </nav>
                    {% endfor %}
                </div>
                {{ render_pagination(pagination, page, filter) }}
            </div>
        </div>
    </section> 
{% endblock %}

{% block javascript %}
    {{ super() }}
    <script src="https://unpkg.com/buefy/dist/components/checkbox"></script>
    <script src="{{ url_for('static', filename='js/catalogue.js') }}" ordered_list="{{ ordered_list }}"></script>
{% endblock %}
