{% extends "layout.html" %}
{% block content %}
<h1>Hello from Home with reloading</h1>
<div id="app">
        <!-- Buefy components goes here -->
</div>
{% endblock %}
{% block javascript %}
    {{ super() }}
    
{% endblock %}

