<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <!--<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>//-->
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">//-->
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">//-->
    <!--<link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css">//-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css" rel="stylesheet">
    <style>
        
    </style>
    {% endblock %}
</head>

<body>
    <section class="hero is-info">
        <div class="hero-body">
            <div class="columns">
                <div class="column">
                    <p class="title">input is-rounded
                        LOGO
                    </p>
                    <p class="subtitle">
                        Каталог топливной аппаратуры
                    </p>
                </div>
                <div class="column">
                    <p class="title">ТЕЛЕФОН</p>
                    <p class="subtitle">С 8:00 до 20:00, время московское</p>
                    <p class="subtitle>">Email: usm12@mail.ru</p>
                </div>
                <div class="column">
                    <p class="title">Напишите нам</p>
                </div>
                <div class="column">
                    <div id="shop_basket">
                        <shop-basket inline-template>
                            <div>
                                <p class="title">Список заказа</p>
                                <p class="subtitle>"><a href="">Товаров: [[products_num]]</a></p>
                            </div>
                        </shop-basket>
                    </div>
                </div>
            </div>
        </div>
    </section> 
    <nav class="navbar is-black">
        <div class="navbar-brand">
            <a class="navbar-item is-hidden-touch" href="#">ДИЗЕЛЬ СКЛАД:</a>
            <div id="autocomplete_search" style="margin: 8px 20px 0 20px;">
                    <section>
                        <b-field>
                            <b-autocomplete
                                type="search"
                                icon="magnify"
                                v-model="name"
                                :data="data"
                                placeholder="например, denso"
                                field="title"
                                @keyup.native="getAsyncData"
                                @select="option => selected = option">
                                
                                <template slot-scope="props">
                                    <div class="media">
                                        <div class="media-content">
                                            [[ props.option ]]
                                        </div>
                                    </div>
                                </template>
                            </b-autocomplete>
                            <p class="control">
                                    <button class="button is-primary" onclick="window.location = '/catalogue/search/' + app.name;">Поиск</button>
                                </p>
                        </b-field>
                    </section>
                </div>
            <div class="navbar-burger burger" data-target="navMenuColorblack-example">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="navMenuColorblack-example" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{{ url_for('main.index') }}">
                    Главная
                </a>
                <a class="navbar-item" href="{{ url_for('main.catalogue') }}">
                    Каталог
                </a>
                <a class="navbar-item" href="{{ url_for('main.delivery') }}">
                    Оплата и доставка
                </a>
                <a class="navbar-item" href="{{ url_for('main.about') }}">
                    О компании
                </a>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <section class="hero is-dark">
        <div class="hero-body">
                <p>
                    <strong>АСЦТА</strong> Ассоциация сервисных центров топливной аппаратуры.
                </p>
        </div>
    </section>

    {% block javascript %}
    <!-- <script src="/static/js/vue.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/buefy/dist/components/autocomplete"></script>
    <script src="https://unpkg.com/buefy/dist/components/field"></script>
    <script src="https://unpkg.com/buefy/dist/components/tabs"></script>
    <script src="https://unpkg.com/buefy/dist/components/icon"></script>
    <script src="https://unpkg.com/axios@0.15.3/dist/axios.min.js"></script>
    <script src="{{ url_for('static', filename='js/bus.js') }}"></script>
    <script src="{{ url_for('static', filename='js/layout.js') }}" ordered_list="{{ ordered_list }}" filter="{{ filter }}"></script>
    {% endblock %}
</body>
</html>