{% macro render_pagination(pagination, page, filter) %}
    <nav class="pagination is-centered is-rounded" role="navigation" aria-label="pagination">
        {% if pagination.has_prev %}
            {% if filter|length() > 0 %}
                <a class="pagination-previous" href="/catalogue/search/{{ filter }}/page/{{ page - 1 }}">Prev</a>
            {% else %}
                <a class="pagination-previous" href="/catalogue/page/{{ page - 1 }}">Prev</a>
            {% endif %}
        {% endif %}
        <ul class="pagination-list">
        {%- for page in pagination.iter_pages() %}
            {% if page %}
                {% if page != pagination.page %}
                    {% if filter|length() > 0 %}
                        <li><a class="pagination-link" aria-label="Goto page {{ page }}" href="/catalogue/search/{{ filter }}/page/{{ page }}">{{ page }}</a></li>
                    {% else %}
                        <li><a class="pagination-link" aria-label="Goto page {{ page }}" href="/catalogue/page/{{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% else %}
                    <li><a class="pagination-link is-current" aria-label="Page {{ page }}" aria-current="page">{{ page }}</a></li>
                {% endif %}
            {% else %}
                <li><span class="pagination-ellipsis">&hellip;</span></li>
            {% endif %}
        {%- endfor %}
        </ul>
        {% if pagination.has_next %}
            {% if filter|length() > 0 %}
                <a class="pagination-previous" href="/catalogue/search/{{ filter }}/page/{{ page + 1 }}">Next &raquo;</a>
            {% else %}
                <a class="pagination-previous" href="/catalogue/page/{{ page + 1 }}">Next &raquo;</a>
            {% endif %}
        {% endif %}
    </div>
{% endmacro %}