{% extends "layout.html" %}
{% block content %}

<section class="hero">
    <div class="hero-body">
        <div class="container is-widescreen">
            <div id="populating">
                <run-populating inline-template>
                        <a class="button is-link is-rounded" @click="runPopulating" v-bind:class="{ 'is-loading': checked }">Начать</a>
                        <span v-cloak>
                            [[ run_status ]]
                        </span>
                </run-populating>
            </div>
        </div>
    </div>
</section>
    
{% endblock %}
{% block javascript %}
    {{ super() }}
    <script src="https://unpkg.com/buefy/dist/components/icon"></script>
    <script src="{{ url_for('static', filename='js/jobs.js') }}" run_status="{{ run_status }}"></script>
{% endblock %}