{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <style>
        .hero .tabs ul {
            border-bottom: 1px solid #dbdbdb;
        }
        .b-tabs .tab-content {
            border-left: 1px solid #dbdbdb;
            border-right: 1px solid #dbdbdb;
            border-bottom: 1px solid #dbdbdb;
        }
        .image img {
            max-width: 100%;
            width: auto;
        }
        .material-icons {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            vertical-align: bottom;
            padding-top: 18px;
        }
        .material-icons.md-36 { font-size: 36px; }
        .level-left .level-item:not(:last-child), .level-right .level-item:not(:last-child) {
            margin-right: 2.75rem;
        }
    </style>
{% endblock %}
{% block content %}

<section class="hero">
    <div class="hero-body">
        <div class="container is-widescreen">
            <div class="columns">
                <div class="column is-3">
                    <img src="{{ url_for('static', filename='img/units/pic.jpg') }}" }}>
                </div>
                <div class="column">
                    <h1 class="title is-spaced">{{ product['name'] }}</h1>

                    <nav class="level">
                        <!-- Left side -->
                        <div class="level-left">
                            <div class="level-item">
                                <h2 class="subtitle is-6" style="white-space: nowrap;">
                                    <i class="material-icons md-36">local_offer</i>
                                    <span class="is-size-4 has-text-weight-bold">{{ '{:,.0f}'.format(product['price']|int()).replace(","," ") }} руб.</span>
                                </h2>
                            </div>
                            <div class="level-item">
                                <div>
                                    <p class="heading">Цена актуальна</p>
                                    <p class="title is-6">13.08.2018 г.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Right side -->
                        <div class="level-right">
                            {% if (product.brand is defined) and (product.brand.brand_name is defined) %}
                                <div>
                                    <p class="heading">Производитель</p>
                                    <p class="title is-6">{{ product['brand']['brand_name'] }}</p>
                                </div>
                            {% endif %}
                        </div>
                      </nav>
                    <div id="item_tabs" class="">
                        <section>
                            <b-tabs type="is-boxed" :animated="false">
                                <b-tab-item label="Описание" icon="google-photos">
                                    <p>
                                        {{ product['content'] }} Турбокомпрессор 1118100-ED01A Turbocharger 53039700168  BorgWarner. Применяется для двигателей 4D20 автомобилей  Great Wall Hover H5
                                        
                                    </p>
                                </b-tab-item>
                                <b-tab-item label="Оплата" icon="library-music"></b-tab-item>
                                <b-tab-item label="Доставка" icon="video">
                                    <p>
                                        Оплата по счету с НДС. Работаем со всеми регионами России. Звоните!
                                    </p>
                                </b-tab-item>
                            </b-tabs>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



    
{% endblock %}

{% block javascript %}
    {{ super() }}
    <script>
        const item_tabs = new Vue()
        item_tabs.$mount('#item_tabs')       
    </script>
{% endblock %}