[v-cloak] {
    display: none;
}

.content.is-small.goto_order {
    display: none;
    margin: 5px 0 0 10px;
    text-decoration: underline;
}

.content.is-small.goto_order.yes {
    display: block;
}

.subtitle.show_price {
    display: none;
}

.subtitle.show_price.yes {
    display: block;
}
