.main-menu-search input[type="submit"] {
    background: url(/static/img/icon-search.png);
    border: none;
    display: block;
    float: left;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 20px;
    right: 10px;
}